<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FirstApplication</display-name>
  <welcome-file-list>
  <welcome-file>Table.html</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>username</param-name>
    <param-value>raja</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>nani</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Servlet</display-name>
    <servlet-name>Servlet</servlet-name>
    <servlet-class>com.nani.Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Secondservlet</display-name>
    <servlet-name>Secondservlet</servlet-name>
    <servlet-class>com.nani.Secondservlet</servlet-class>
    <init-param>
      <param-name>loan</param-name>
      <param-value>9.5</param-value>
    </init-param>
    <init-param>
      <param-name>intrest</param-name>
      <param-value>10.5</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Secondservlet</servlet-name>
    <url-pattern>/Secondservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Thirdservlet</display-name>
    <servlet-name>Thirdservlet</servlet-name>
    <servlet-class>com.nani.Thirdservlet</servlet-class>
    <init-param>
      <param-name>bike</param-name>
      <param-value>12.5</param-value>
    </init-param>
    <init-param>
      <param-name>car</param-name>
      <param-value>11.5</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Thirdservlet</servlet-name>
    <url-pattern>/Thirdservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Loginpage</display-name>
    <servlet-name>Loginpage</servlet-name>
    <servlet-class>com.nani.Loginpage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loginpage</servlet-name>
    <url-pattern>/Loginpage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Tableservlet</display-name>
    <servlet-name>Tableservlet</servlet-name>
    <servlet-class>com.nani.Tableservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Tableservlet</servlet-name>
    <url-pattern>/Tableservlet</url-pattern>
  </servlet-mapping>
</web-app>